This is the templated file for configure time.
It has access to the custom values of install time: the {{.Fruit}}.
It has access to the secrets of configure time: {{index . "embed/secrets/secret"}}.
It has access to the custom values of configure time: {{index . "embed/secrets/custom"}}.
