This is the templated file for configure time.

It has access to the embedded values of install time:
PetalColor: {{.PetalColor}}
Perennial:  {{.Perennial}}

It has access to the secrets of configure time:
GossipKey: {{.GossipKey}}

It has access to the dynamic values of configure time:
Environment: {{.Environment}}
